PORT=5000
DATABASE_URL="file:./dev.db"
JWT_SECRET="lumina_photo_super_secure_jwt_secret_key_2026"
CLIENT_URL="http://localhost:5173"
UPLOAD_DIR="./uploads"
STORAGE_PROVIDER="local"
NODE_ENV="development"
